
header {
  padding: 30px;
  text-align: center;
  background: #1abc9c;
  color: white;
  font-size: 30px;
}
blockquote{
    font-style: oblique;
    size: 300;
    color: red;
}
table{
    border: coral;
}
li::marker {
    color: hotpink;
  }
  li{
  	list-style-type: square;
  }

  ul li{
  	font-size: 600;
  	color: green;

  }
  h1{
    font-style: italic;
    color: blue;
    margin: center
    ;
}